body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}
.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}
.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}
main a {
    color: #851944;
}
main a:hover,
main a:focus,
footer a:focus,
footer a:hover {
    color: red;
}
main p {
    text-align: justify;
    margin: 1em 0;
}
/*
.rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    background-image: radial-gradient(ellipse at left bottom,
        rgba(60, 29, 61, 0.8),
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%);
    background-size: 25% 100%;
}
*/
.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
main {
    padding-bottom: 4em;
    flex-grow: 1;
}



